
<!DOCTYPE html>
<html>
<head>
    <title>Mandelbrot</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--designe-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="includes/style.css">
    <!--functionality-->
    <script src="https://code.jquery.com/jquery-1.11.3.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="/includes/script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.2.1/mustache.min.js"></script>
</head>
<body>
<div id="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <h4 class="page-header" id="image-gallery">Mandelbrot</h4>
                <br/>
            </div>
                <div id="gallery" class="col-md-offset-2 col-md-8">
				<p>Amazon RDS Endpoint: <i><%= hostname %></i></p>
				<p>User: <i><%= username %></i></p>
				<p>Password: <i><%= password %></i></p>
				<p>Port: <i><%= port %></i></p>
				<p>Database: <i><%= database %></i></p>

				<p>Connection: <%= connectionerror %></p>
				<p>Databases: <%= databases %></p>
                </div>
        </div>

        <hr>
        <!-- Footer -->
        <footer>
            <div class="row">
                <p>Copyright &copy; <a href="#">Rotem&Atalia</a></p>
            </div>
        </footer>
    </div>
</div>
<script>
    (function () {
        //	create();
    })();
</script>
</body>
</html>
